@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #2C3333;
    --page-background-color: #0E8388;
    --button-color: #2E4F4F;
    --button-hover-color: #0E8388;
    --text-color: #CBE4DE;
    --screen-background-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--page-background-color);
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* CALCULATOR */

.calculator {
    width: 350px;
    height: 500px;
    display: grid;
    grid-template: minmax(100px, auto) repeat(5, 1fr) / repeat(4, 1fr);
    grid-gap: 12px;
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(37, 37, 37, 0.95)
}

.calculatorDisplay {
    grid-column: 1 / -1;
    font-size: 2rem;
    font-weight: 400;
    color: var(--background-color);
    background-color: var(--screen-background-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.inputDisplay {
    font-size: 1.4rem;
}

.resultDisplay {
    font-size: 1.9rem;
}

.btnContainer {
    width: 100%;
}

.btn {
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
    background-color: var(--button-hover-color);
    scale: 0.91;
    font-size: 1.3rem;
}

.equals {
    grid-column: span 2;
}

.equals:hover {
    background-color: rgba(81, 255, 154, 0.712);
}

.operation:hover {
    background-color: rgb(0 226 255 / 76%);
}

#clear:hover, #delete:hover {
    background-color: #FF5733;
}